<mat-card class="p-12 text-center relative overflow-hidden bg-no-repeat bg-cover" style="background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/041.webp');height: 600px;">

    
    <mat-card-content>
        <div class="text-white">
            <mat-card-title class="text-center text-white text-4xl">Hola Admin!</mat-card-title>
            <mat-card-subtitle class="text-center text-white text-2xl font-bold">Has iniciado Sesión en Angular</mat-card-subtitle>
            <div>
                <p class="text-2xl font-bold text-center text-black">Usuario Registrado</p>
                <p class="text-center font-bold text-xl">Jerick97 (Admin)</p>
            </div>
        </div>
    </mat-card-content>
    <mat-card-actions class="text-white">
        <button mat-button class="bg-indigo-500 text-white font-bold">LIKE</button>
        <button mat-button class="bg-indigo-500 text-white font-bold">SHARED</button>
    </mat-card-actions>
    
</mat-card>
<mat-progress-bar mode="indeterminate"></mat-progress-bar>