<div class="mt-6 mx-auto w-96 p-6 block rounded-lg shadow-lg bg-white max-w-sm">
    <h1 class="text-center p-6 mt-6 text-4xl font-bold">Login</h1>
    <form class="example-form" [formGroup]="formLogin" (submit)="send()" autocomplete="off">
        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label class="text-lg">Usuario</mat-label>
            <input matInput type="text" formControlName="user" placeholder="Jerick97" class="text-black">
            <mat-icon matSuffix>account_box</mat-icon>
            <mat-hint *ngIf="formLogin.get('user')?.valid">Todo Correcto</mat-hint>
            <mat-error *ngIf="formLogin.get('user')?.errors?.['required']&& formLogin.get('user')?.touched">
                El Campo Usuario es <strong>Obligatorio</strong>
            </mat-error>
            <mat-error *ngIf="formLogin.get('user')?.errors?.['minlength']&& formLogin.get('user')?.touched">
                Debe Tener como mínimo {{formLogin.get('user')?.errors?.['minlength']?.requiredLength}} caracteres
            </mat-error>
        </mat-form-field>
      
        <mat-form-field class="example-full-width mt-2" appearance="outline">
            <mat-label class="text-lg">Contraseña</mat-label>
            <input matInput type="password" formControlName="password" placeholder="admin" class="text-black">
            <mat-icon matSuffix>enhanced_encryption</mat-icon>
            <mat-hint *ngIf="formLogin.get('password')?.valid">Todo Correcto</mat-hint>
            <mat-error *ngIf="formLogin.get('password')?.errors?.['required']&& formLogin.get('password')?.touched">
                El Campo Contraseña es <strong>Obligatorio</strong>
            </mat-error>
            <mat-error *ngIf="formLogin.get('password')?.errors?.['minlength']&& formLogin.get('password')?.touched">
                Debe Tener como mínimo {{formLogin.get('password')?.errors?.['minlength']?.requiredLength}} caracteres
            </mat-error>
        </mat-form-field>

        <div class="text-center mt-3">
            <button mat-raised-button color="primary" [disabled]="formLogin.invalid" class="px-4 py-3 uppercase"><mat-icon>send</mat-icon> Iniciar Sesión</button>
        </div>
    </form>
</div>
