<div class="contenedor">
    <div class="box-login shadow-lg border p-5 rounded">
        <div class="row">
            <div class="col-lg-12 text-center">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/2048px-Angular_full_color_logo.svg.png" alt="Logo" id="logoSkoy">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h2 class="text-center">Log In</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <label class="mdc-text-field mdc-text-field--outlined w-100">
                    <span class="mdc-notched-outline">
                        <span class="mdc-notched-outline__leading"></span>
                        <span class="mdc-notched-outline__notch">
                            <span class="mdc-floating-label" id="my-label-id">Email</span>
                        </span>
                        <span class="mdc-notched-outline__trailing"></span>
                    </span>
                    <input type="text" class="mdc-text-field__input" aria-labelledby="my-label-id">
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                </label>
            </div>
        </div>

        <!-- row 2 -->
        <div class="row mt-3">
            <div class="col-lg-12">
                <label class="mdc-text-field mdc-text-field--outlined w-100 text-field-pass">
                    <span class="mdc-notched-outline">
                        <span class="mdc-notched-outline__leading"></span>
                        <span class="mdc-notched-outline__notch">
                            <span class="mdc-floating-label" id="my-label-id">Password</span>
                        </span>
                        <span class="mdc-notched-outline__trailing"></span>
                    </span>
                    <input type="password" class="mdc-text-field__input toggle-password"
                        aria-labelledby="my-label-id">
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>

                </label>
            </div>

            <div class="col-lg-12">
                <p class="text-end mt-3 link-custom"><a href="#" class="text-primario">¿Olvidaste tu contraseña?</a></p>
            </div>
        </div>

        <!-- row 2 -->
        <div class="row">
            <div class="col-lg-12">
                <button class="btn btnLogin w-100 rounded-pill">Iniciar Sesión</button>
                <p class="mt-2 text-center link-custom">¿No tiene una cuenta? <a href="#" class="text-primario">Abrir cuenta</a>
                </p>
            </div>
        </div>
    </div>
</div>
